BOT_TOKEN: str = ""

BOT_NAME: str = ""

TEXTS: dict = {
    "start": "Your Telegram ID is <code>{user_id}</code>\nHelp: /help",
    "help": "Use this bot to get ID for different entities across Telegram:\n• Forward message from channel to get channel ID;\n• Forward message from user to get their ID (unless they restrict from doing so);\n• Send a sticker to get its file_id (currently you can use the sticker's file_id with any bot);\n• Add bot to group to get its ID (it will even tell you when you migrate from group to supergroup);\n• Use inline mode to send your Telegram ID to any chat.",
    "id": {
        "pm": "Your Telegram ID is <code>{user_id}</code>",
        "not_pm": "This {chat_type} chat ID is <code>{chat_id}</code>",
        "chat_forwarded": "This channel's ID is <code>{chat_id}</code>",
        "sticker": "\nAlso this sticker's ID is <code>{sticker_file_id}</code>",
        "not_hide": {
            "bot": "This bot's ID is <code>{user_id}</code>",
            "user": "This user's ID is <code>{user_id}</code>"
        },
        "hide": "This user decided to <b>hide</b> their ID.\n\nLearn more about this feature <a href=\"https://telegram.org/blog/unsend-privacy-emoji#anonymous-forwarding\">here</a>.",
        "join": "This {chat_type} chat ID is <code>{chat_id}</code>",
        "migrated": "Group upgraded to supergroup.\nOld ID: <code>{chat_id}</code>\nNew ID: <code>{migrated_chat_id}</code>"
    },
    "inline": {
        "title": "Show DC/user/message ID",
        "processing": "Processing...",
        "process_error": "Error with your request - {inline_message_id}",
        "markup": "wait",
        "processed": "DC ID: <code>{dc_id}</code>\nUser ID: <code>{user_id}</code>\nMessage ID: <code>{message_id}</code>"
    }
}
